{#
    Display the footer of the page
    param :
    return : display footer with credits
#}
    <div class="w-full pl-2 pt-16 text-sm text-center md:text-left fade-in">
        <a class="text-gray-500 no-underline hover:no-underline" href="#">&copy; App 2024</a>
            - App created by
        <span class="text-gray-500 no-underline hover:no-underline">TechQuack Corp</span>
    </div>