<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width,initial-scale=1" />
      <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">
      <title>Hex-Game</title>
  </head>
  <body class="leading-normal tracking-normal bg-cover bg-fixed">
    {% block navigation %}
        {% include 'utils/nav.html.jinja' %}
    {% endblock %}

    {% block mainHomepage %}
        {% include 'homepage/home.html.jinja' %}
    {% endblock %}

    {% block footer %}
        {% include 'utils/footer.html.jinja' %}
    {% endblock %}
  </body>
</html>