<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width,initial-scale=1" />
      <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">
      <title>Hex-Game</title>
  </head>
  <body class="leading-normal tracking-normal m-6 bg-cover bg-fixed">
    <h1 class="text-center mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Hex Game</h1>
  </body>
</html>